<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>呷甜甜 Sweet Bakery-會員專區</title>
  <!-- Font Awesome CDN  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap" rel="stylesheet">
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style/style.css">

  <!-- Font Awesome icon -->
  <script src="https://kit.fontawesome.com/a20761abbc.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('partials/header') %>

    <section class="user">
      <div class="sidebar">
        <ul class="sideMenu">
          <li>
            <i class="fas fa-user"></i>
            <a id="user" href="/user">我的檔案</a>
          </li>
          <li>
            <i class="fa-solid fa-unlock-keyhole"></i>
            <a href="/passwordUpdate">更改密碼</a>
          </li>
          <li>
            <i class="fa-solid fa-clipboard-list"></i>
            <a href="orders">會員訂單</a>
          </li>
        </ul>
      </div>

      <div class="userInfoContainer">
        <h1 class="heading">個人基本資料</h1>
        <div class="divider"></div>
        <form action="/changeUserInfoContainer" method="post">
          <div class="userData userAcount">
            <label for="userAcount">會員帳號</label>
            <input class="formInput" id="userAcount" name="userAcount" value="<%= userAcount %>" disabled></input>
          </div>

          <div class="userData">
            <label for="userName">姓名</label>
            <input class="formInput" id="userName" name="userName" value="<%= userName %>"></input>
          </div>

          <div class="userData">
            <label for="userMail">信箱</label>
            <input class="formInput" id="userMail" name="userMail" value="<%= userEmail %>" disabled></input>
          </div>

          <div class="userData">
            <label for="userPhone">聯絡電話</label>
            <input class="formInput" id="userPhone" name="userPhone" value="<%= userPhone %>"></input>
          </div>

          <div class="userData">
            <label for="userBirthday">生日</label>
            <input class="formInput" id="userBirthday" name="userBirthday" value="<%= userBirthday %>" disabled></input>
          </div>

          <div class="buttons">
            <button class="submitBtn" type="submit" value="儲存">
              儲存
            </button>
          </div>
        </form>
      </div>

    </section>

    <!-- Footer Section -->
    <%- include('partials/footer') %>

      <!-- Javascript -->
      <%- include('javascript/script') %>
</body>

</html>